<div class="container">
    <h1>Form</h1>
    <hr>
    <div class="row">


        <div class="col-md-9 personal-info">

            <h3>Fill Personal info</h3>

            <form class="form-horizontal"
                  role="form"
                  novalidate
                  [formGroup]="userForm">

                <div class="form-group">
                    <!-- class="has-error"-->
                    <label class="col-lg-3 control-label">First name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" formControlName="firstName"
                               [ngClass]="{ 'is-invalid':(userForm.get('firstName').touched || userForm.get('firstName').dirty) && !userForm.get('firstName').valid
            }">
                        <!--<div>
              <span class="text-danger">Error message</span>
            </div>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Last name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" formControlName="lastName" [ngClass]="{ 'is-invalid':(userForm.get('lastName').touched || userForm.get('lastName').dirty) && !userForm.get('lastName').valid
            }">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" formControlName="email" [ngClass]="{ 'is-invalid':(userForm.get('email').touched || userForm.get('email').dirty) && !userForm.get('email').valid
            }">
                        <span *ngIf="(userForm.get('email').touched || userForm.get('email').dirty) &&!userForm.get('email').valid" class="help-block">"Please....l2WriteAnEmail"</span>
                    </div>
                </div>
                

                <div formGroupName="phoneGroup">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Phone:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" formControlName="phone" [ngClass]="{ 'is-invalid':userForm.get('phoneGroup').valid
            }">
                        </div>

                    </div>
                    <hr />
                    <h4>Please select a valid option</h4>

                    <div class="form-group">
                        <div class="col-md-8">
                            <label class="col-md-3 control-label">Dog <input type="radio" formControlName="verification" value="Dog" checked></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8">
                            <label class="col-md-3 control-label">Cat <input type="radio" formControlName="verification" value="Cat"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8">
                            <label class="col-md-3 control-label">Other <input type="radio" formControlName="verification" value="Other"></label>
                        </div>
                    </div>

                </div>
              
                
             
                <hr />
                <h4>Be smart and choose password</h4>


                <!--<div class="form-group">
        <label class="col-md-3 control-label">Username:</label>
        <div class="col-md-8">
            <input class="form-control" type="text" formControlName="username">
            <span *ngIf="userExists" class="text-danger">this user already exists !</span>
        </div>
    </div>-->

                <div formGroupName="pswdGroup">

                    <div class="form-group">
                        <label class="col-md-3 control-label">Password:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="password" formControlName="password" [ngClass]="{ 'is-invalid':(userForm.get('pswdGroup.password').touched || userForm.get('pswdGroup.password').dirty) && userForm.get('pswdGroup').errors?.matchPasswords }">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Confirm password:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="password" formControlName="cPassword" [ngClass]="{ 'is-invalid':(userForm.get('pswdGroup.cPassword').touched || userForm.get('pswdGroup.cPassword').dirty) && userForm.get('pswdGroup').errors?.matchPasswords
              }">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8">
                            <span *ngIf="userForm.get('pswdGroup').errors?.matchPasswords">
                                {{matchPasswordsMsg}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input type="button" class="btn btn-primary" value="Send Form" (click)="sendToAzure()">
                        <span></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr>
